/* -----Fonts---- */

/* play-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2");
}

/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2");
}

/* -----Variables */
:root {
  --color-primery-text: #011c44;
  --color-primery-white: #ffffff;
  --color-primery-black: #000000;
  --color-primery-accent: #2b7fff;
  --color-gray-dark: #4a4a4a;
  --color-gray-ligth: #747272;
  --color-secondary-blue: #011f4a;
}

/* -----Base----- */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primery-text);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

/* ----Container----- */

.container-wide {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-narrow {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-accent {
  color: var(--color-primery-accent);
}

.beauty-zone {
  text-transform: capitalize;
}

.text-title {
  font-weight: 600;
}

.button {
  color: var(--color-primery-white);
  background-color: var(--color-primery-accent);
  border: 2px solid var(--color-primery-accent);
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 32px;
  padding: 16px 32px;
  cursor: pointer;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-primery-text);
  background-color: transparent;
}

.button-effect:hover {
  color: var(--color-primery-accent);
  background-color: var(--color-primery-text);
}

.link {
  color: var(--color-primery-text);
  text-decoration: none;
}

.link:hover {
  color: var(--color-primery-accent);
  /* font-weight: 700; */
}

/* ----Header------------ */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.25);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 56px;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__contacts-icon {
  fill: var(--color-primery-text);
}

.header__contacts-icon:hover {
  fill: var(--color-primery-accent);
}

/* ---------- hero ---------- */

.hero {
  padding: 124px 0 10px 0;
  background-image: url("../images/hero-background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}

.hero__sguare-zone {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  margin-bottom: 48px;
}

.hero-title {
  color: var(--color-primery-accent);
  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81;
  text-transform: capitalize;
  max-width: 530px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hero-text {
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  text-align: center;
}

/* ------section--------- */

.section {
  padding-bottom: 96px;
}

.section-border {
  border: 1px solid red;
}

.section-title {
  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.16;

  text-align: center;
  margin-bottom: 48px;
}

.section-text {
  font-size: 22px;
  line-height: 1.73;
}

.section-description {
  color: var(--color-primery-black);
  line-height: 1.33;
}

/* ------About---------- */

.about {
  padding-bottom: 176px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.about__title {
  max-width: 529px;
  margin-bottom: 40px;
  text-align: left;
}

.about__content {
  max-width: 640px;
  padding-top: 40px;
}

.about__text {
  margin-bottom: 40px;
}

.about__images {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* Отступ между картинками */
  width: 100%;
}

/* .about__images img:first-child {
  align-self: flex-start;
  margin-right: 172px;
}

.about__images img:last-child {
  align-self: flex-end;
  margin-left: 172px;
} */

.about__images img:first-child {
  align-self: flex-start;
  margin-right: calc(5% + 50px);
}

.about__images img:last-child {
  align-self: flex-end;
  margin-left: calc(5% + 50px);
}

.about__img {
  border-radius: 150px;
}

/* -----why-section------ */

.why-section {
  background-image: linear-gradient(
    180.05deg,
    rgba(43, 127, 255, 0.2) 33%,
    rgba(43, 127, 255, 0) 63%,
    rgba(43, 127, 255, 0) 89%
  );
}

.why-section__title {
  max-width: 442px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.why__list {
  display: flex;
  gap: 56px;
}

.why__card {
  max-width: 316px;
  padding: 24px 32px;
  border-radius: 32px;
  background-color: var(--color-primery-white);
  text-align: center;
}

.why-section__icon {
  fill: var(--color-primery-accent);
}

/* -----procedures----- */

.procedures-title {
  color: var(--color-primery-white);
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.procedures__list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.procedures__item {
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
}

.procedures__image {
  border-radius: 4px 120px;
  /* background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  ); */
}

/* -------section-contact------- */

.section__contact-iframe {
  display: flex;
  gap: 32px;
}

.section__iframe {
  border-radius: 32px;
}

.section__form-contact {
  background-image: url("../images/contact-background.png");
  background-color: var(--color-primery-text);
  border-radius: 32px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section__form-contact-title {
  color: var(--color-primery-white);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
}

.section__form-contact-text {
  color: var(--color-gray-ligth);
  font-size: 12px;
  line-height: 1.5;
}

.section__form-contact-link {
  color: var(--color-gray-ligth);
  font-size: 12px;
  line-height: 1.5;
}

/* -------footer-------- */

.footer {
  background-color: var(--color-primery-text);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-nav-link {
  color: var(--color-primery-white);
  text-decoration: none;
  font-size: 16px;
}

.footer-nav-link:hover {
  color: var(--color-primery-accent);
  /* font-weight: 700; */
}

.footer-nav-copy {
  color: var(--color-gray-ligth);
  font-size: 13px;
  line-height: 1.15;
}

.footer-nav-icon {
  fill: var(--color-primery-white);
}

.footer-nav-icon:hover {
  fill: var(--color-primery-accent);
}
